@font-face {
  font-family: "Neue";
  src: url("@/fonts/HelveticaNeue.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Neue-bd";
  src: url("@/fonts/HelveticaNeue-bd.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

  